
PORT=5000
MONGO_URI=mongodb+srv://bodemohit53:<Madhura@12>@cluster0.eo1dq8g.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0_
RAZORPAY_KEY_ID=rzp_test_qMnGCKBrSEKSJr
RAZORPAY_SECRET=y6LchgaSxlnaNXFaKxlnj4vt
PLAN_ID=plan_QuCYG9IC2WvJje
RAZORPAY_WEBHOOK_SECRET=RazorpayWebhook#Madhura12
